/* === css reset === */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* === base === */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    color: darkslategray;
}

/* === header / nab === */
header {
    background-color: darkslategray;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

/* === containers === */
main {
    padding: 3rem;
    text-align: center;
}

.container {
    background: white;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* === forms === */
form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: darkcyan;
}

.error {
    color: lightcoral;
    font-weight: bold;
}

.info {
    color: teal;
}